<mat-toolbar class="menu">
    <mat-icon aria-hidden="false" aria-label="event">event</mat-icon>
    <ul>
        <a routerLink="crearActividad"> Crear actividad </a>
    </ul>
    <span class="spacerIcon"></span>
    <mat-icon aria-hidden="false" aria-label="fact_check">fact_check</mat-icon>
    <ul>
        <a routerLink="listarActividades"> Lista de actividades </a>
    </ul>


    <span class="spacer"></span>
    <ul>
        <mat-icon *ngIf="!auth.loginOn()" aria-hidden="false" aria-label="account_box">account_box</mat-icon>
        <a *ngIf="!auth.loginOn()" routerLink="login"> Login</a>
    </ul>
    <ul>
        <mat-icon *ngIf="!auth.loginOn()" aria-hidden="false" aria-label="account_circle">account_circle</mat-icon>
        <a *ngIf="!auth.loginOn()" routerLink="registro"> Registro</a>
    </ul>

    <ul>
        <mat-icon *ngIf="auth.loginOn()" aria-hidden="false" aria-label="login">login</mat-icon>
        <a (click)="auth.cerrarSesion()" *ngIf="auth.loginOn()" mat-button>Cerrar Sesion</a>
    </ul>
</mat-toolbar>